/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Calistoga&display=swap');

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
}

/* SVG icon defaults */
.icon {
  @apply w-5 h-5 inline-block align-middle;
}

/* React transitions */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}